.img-carousel{
    height: 600px;
}
#inicio{
    margin-bottom: 30px;
}
.accordion-header .accordion-button{
    background-color: #350a06;
    color: #fff;
}

.accordion-body{
    background-color:#b6a46f;
}
.accordion-body p,
.accordion-body li{
    color: #fff;
}

header{
    background-color:#350a06 ;
    color: #b6a46f;
    margin-bottom: 40px;
    position: sticky;
    z-index: 1 !important;
    left: 0;
    top: 0;
}
.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #b6a46f;
}

/*cards */
#cards{
    background-color: #350a06;
    color: #b6a46f;
}
#cards .card-header{
    color: #b6a46f;
    font-size: 1.5em;
}
#cards .container .row .col-4{
    margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
    #inicio .container .row{
        display: block;
    }
    #cards .container .row{
        display: block;
    }
    #cards .container .row .col-4{
        width: 100%;
        margin-bottom: 10px;
    }
    
}
.container.form{
    background-color: #350a06;
}
.container.form h2{
margin-top: 20px;
}
.container.form h2,
.container.form label{
    color: #b6a46f;
}

.container.form button{
    
    width: 100px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    #inicio .container .row{
        display: block;
    }
    #cards .container .row{
        display: grid;
        grid-template-columns: repeat(2,45%);
        gap: 10px;
    }
    #cards .container .row .col-4{
        margin-bottom: 10px;
        width: 100%;
    }
    
}